.services-container {
    background-color: rgba(62, 161, 255, 0.04);
}

.services-container>h3 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 42px;
}

.services-wrapper {
    display: flex;
    gap: 42px;
    flex-wrap: wrap;
    justify-content: center;
}