# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# Envs
.venv/
.env
.env.*

# OS / IDE
.DS_Store
.idea/
.vscode/

# Coverage / pytest
.coverage
htmlcov/
.pytest_cache/
